/******************/
/** Define fonts **/
/******************/
/* Normal (variable weights) */
@font-face {
    font-family: "HankenGrotesk";
    src: url("../assets/fonts/Hanken_Grotesk/HankenGrotesk-VariableFont_wght.ttf")
        format("truetype");
    font-weight: 100 900; /* supports full weight range */
    font-style: normal;
}

/* Italic (variable weights) */
@font-face {
    font-family: "HankenGrotesk";
    src: url("../assets/fonts/Hanken_Grotesk/HankenGrotesk-Italic-VariableFont_wght.ttf")
        format("truetype");
    font-weight: 100 900;
    font-style: italic;
}

/************************/
/** Page-wide settings **/
/************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* Set 1rem to 10px for convenience */
}

body {
    font-size: 1.6rem;
    font-family: "HankenGrotesk", sans-serif;
    background-color: rgb(9, 9, 9);
    color: white;
    max-width: 150em;
    margin: auto;
}

/************/
/** Navbar **/
/************/
header {
    border-bottom: 2px solid rgb(30, 30, 30);
    display: flex;
    justify-content: space-between;
    padding: 0 8vw;
    gap: 2em;
    position: fixed;
    width: 100%;
    max-width: 150em;
    top: 0;
    background-color: rgb(9, 9, 9);
    margin: auto;
}

#left-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}

#logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 1.7em;
    margin-right: 0.5em;
}

#logo-container span {
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: 2;
}

#right-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-links-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 0;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.75em;
    border: 2px solid transparent;
    white-space: nowrap;
}

.nav-link:hover {
    border-bottom: 2px solid rgb(109, 173, 224);
}

#source-link {
    width: 1.3em;
    margin-right: 1.5em;
    margin-left: 1em;
}

#source-link:hover {
    filter: brightness(0) saturate(100%) invert(60%) sepia(93%) saturate(353%)
        hue-rotate(179deg) brightness(93%) contrast(87%);
}

#header-download-button {
    background-color: rgb(109, 173, 224);
    border: none;
    border-radius: 4px;
    font-family: "HankenGrotesk", sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 0.8em 1em;
    white-space: nowrap;
}

#header-download-button:hover {
    background-color: rgb(69, 117, 166);
    transition: 0.2s;
}

/**********/
/** Hero **/
/**********/
#hero {
    display: flex;
    justify-content: space-evenly;
    padding: 8.5em calc(0.5em + 8vw);
    gap: 4em;
    margin-top: 4em;
}

#hero-information-container {
    flex: 2;
}

#hero h4 {
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: 1.5;
    margin-bottom: 1em;
}

#hero h1 {
    font-size: 5em;
    line-height: 1;
    margin-bottom: 0.5em;
}

#hero h1 span {
    color: rgb(109, 173, 224);
}

#hero h3 {
    font-size: 1.4em;
    font-weight: 300;
}

#hero-image-container {
    padding: 3em 2%;
    flex: 1;
}

#hero-image {
    width: 100%;
    max-width: 21em;
    min-width: 9em;
    height: auto;
}

#hero-actions {
    margin-top: 3em;
    display: flex;
    justify-content: start;
    gap: 4em;
}

#hero-download-button {
    background-color: rgb(109, 173, 224);
    border: none;
    border-radius: 4px;
    font-family: "HankenGrotesk", sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    padding: 0.8em 3em;
}

#hero-download-button:hover {
    background-color: rgb(69, 117, 166);
    transition: 0.2s;
}

#hero-learn-more-button {
    font-size: 1.4em;
    font-weight: bold;
    background: none;
    color: white;
    border: none;
}

#hero-learn-more-button:hover {
    color: rgb(200, 200, 200);
    transition: 0.2s;
}

#hero-learn-more-button:hover object {
    transform: translateX(10px);
}

#hero-learn-more-button object {
    width: 1em;
    transition: transform 0.5s ease;
    position: relative;
    transform: translateX(5px);
    top: 5%;
}

/****************/
/** Advantages **/
/****************/
#advantages {
    padding: 3.5em calc(0.5em + 8vw);
}

#advantages h2 {
    text-align: center;
    font-size: 3em;
}

#advantages h4 {
    text-align: center;
    font-size: 1.3em;
    font-weight: 300;
    margin-top: 0.5em;
}

#advantages-grid {
    padding-top: 7em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4em;
}

.advantage-individual-heading {
    display: flex;
    align-items: center;
    gap: 1em;
}

.advantage-individual-heading h5 {
    font-size: 1.3em;
    font-weight: 400;
}

.advantage-grid-cell p {
    margin-top: 0.8em;
    font-size: 1.1em;
    font-weight: 300;
}

/******************/
/** Testimonials **/
/******************/
#testimonials {
    padding: 3.5em calc(0.5em + 8vw);
}

#testimonials h2 {
    text-align: center;
    font-size: 3em;
}

#testimonials h4 {
    text-align: center;
    font-size: 1.3em;
    font-weight: 300;
    margin-top: 0.5em;
}

#testimonials-carousel {
    margin-top: 8em;
    position: relative;
}

.individual-testimonial {
    background-color: rgb(127, 187, 230);
    padding: 3em 4em 4em;
    border-radius: 0.5em;
    position: absolute;
    height: 24em;
}

#testimonial-1 {
    visibility: visible;
}

#testimonial-2 {
    visibility: hidden;
}

#testimonial-3 {
    visibility: hidden;
}

.testimonial-top-row {
    display: flex;
    justify-content: space-between;
}

.individual-testimonial p {
    color: rgb(9, 9, 9);
}

.individual-testimonial .reviewer {
    font-size: 1.5em;
    font-weight: bold;
}

.individual-testimonial .review {
    font-size: 1.8em;
    font-weight: 500;
    margin-top: 0.8em;
}

.individual-testimonial .arrow-group {
    display: flex;
    flex-wrap: nowrap;
}

.individual-testimonial img {
    width: 3em;
    height: auto;
    margin-top: 2.8em;
}

/* Todo */
/* Media query - remove hero image and convert header nav links to hamburger menu at ~0.5vw */
/* Replace black with rgb(9, 9, 9) everywhere, use CSS variable */